
.header {
  background-color: firebrick;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: beige;
  text-decoration: none;
  text-shadow: 2px 2px black;
  h1 {
    margin: 0;
  }
}